<!DOCTYPE html>
{% load staticfiles %}
<html manifest="static/website.appcache">
<head>

    <link rel="stylesheet" type="text/css" href= "{% static 'home/home.css' %}" />
    <script src="{% static 'jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/home.js' %}"></script>
    <title>
        Kidy Vision
    </title>
</head>

<body>
    <div class="menu-wrap">
        <nav class="menu">
            <ul class="clearfix">
                <li class="current-item"><a href="#">Home</a></li>
                <li>
                    <a href="#">Photography</a>

                    <ul class="sub-menu">
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Artists</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Computer Vision</a>

                    <ul class= "sub-menu">
                        <li><a href="projects">Project</a> </li>
            </ul>
                </li>
                <li><a href="#">Photos</a></li>
                <li><a href="game">Game</a></li>
            </ul>
        </nav>
    </div>

    <div class="fullscreen-bg">
        <video autoplay preload="auto" class="fullscreen-bg__video">
         <source src='media/test.mp4' type="video/mp4">
            video not supported
        </video>
    </div>

    <div class="tagline">
           A r t  &middot; T e c h n o l o g y  &middot;  L i f e
    </div>

    <div class = "copyright">
            &copy;copyright kidy photography
    </div>

</body>

</html>
