<html>
<link href='https://fonts.googleapis.com/css?family=Passero+One' rel='stylesheet' type='text/css'>
<style>
    @font-face {
        font-family: homefont;
        src: url(Sohoma_Light_Condensed.ttf);
    }

    div {
    font-family: homefont;
}
</style>
<head>

<title>
    Kidy Vision
</title>
</head>

<body background="http://imglf0.nosdn.127.net/img/VzFPY05nQ3ZYNU1wVzdUcnltQlovbXd5bVhySWFnQkhyQ09Ka3EyODRXOE9NVGJNWVZqYUZ3PT0.jpg">
<div>With CSS3, websites can finally use fonts other than the pre selected "web-safe" fonts.</div>
    <!--<img src="http://imglf0.nosdn.127.net/img/VzFPY05nQ3ZYNU1wVzdUcnltQlovbXd5bVhySWFnQkhyQ09Ka3EyODRXOE9NVGJNWVZqYUZ3PT0.jpg">-->
    <div style="color:white; text-align: center;">
        Kidy Vision
</div>

<p>
    <div style="color:white; text-align: center;">
        Art&dot;Technology&dot;Life
</div>
</p>
    <div style="color:white; text-align: left; ">
        &copy;copyright kidy photography
    </div>
</body>

</html>