
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="UTF-8">
    <title>cv projects</title>
    <link rel="stylesheet" type="text/css" href= "{% static 'cvproject/home.css' %}" />
    <script src="{% static 'jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src = "{% static 'cvproject/home.js' %}"></script>
</head>

<body>
    <div class="menu-wrap">
        <nav class="menu">
            <ul class="clearfix">
                <li class="current-item"><a href='.'>Home</a></li>
                <li>
                    <a href="#">Photography</a>

                    <ul class="sub-menu">
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Artists</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Computer Vision</a>

                    <ul class= "sub-menu">
                        <li><a href="#">Project</a> </li>
            </ul>
                </li>
                <li><a href="#">Photos</a></li>
                <li><a href="#">Site Help</a></li>
            </ul>
        </nav>
    </div>

    <div class="fullscreen-bg">
        <video autoplay preload="auto" class="fullscreen-bg__video">
         <source src='media/test.mp4' type="video/mp4">
            video not supported
        </video>
    </div>

    <div class = "content">
        {% if project_list %}
        {% for project in project_list %}
            <div class = "title">
                {{project.title}}
            </div>

            <div class = "content">
                {{project.content}}}
            </div>
        {% endfor %}

        {% else %}
        <p>No users are available.</p>
    {% endif %}
    </div>

    <div class = "copyright">
            &copy;copyright kidy photography
    </div>

</body>

</html>